<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true"
	scanPeriod="60 seconds">
	<appender name="ECS_JSON_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH:-./logs}/car-value-estimator-log.json</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/car-value-estimator-log.json.%d{yyyy-MM-dd}.gz
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<!-- https://github.com/elastic/ecs-logging-java/tree/master/logback-ecs-encoder -->
		<encoder class="co.elastic.logging.logback.EcsEncoder">
			<serviceName>car-value-estimator</serviceName>
			<eventDataset>car-value-estimator.log</eventDataset>
			<includeMarkers>true</includeMarkers>
			<stackTraceAsArray>false</stackTraceAsArray>
			<includeOrigin>true</includeOrigin>
			<additionalField>
				<key>event.module</key>
				<value>car-value-estimator</value>
			</additionalField>
			<additionalField>
				<key>event.category</key>
				<value>log</value>
			</additionalField>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="ECS_JSON_FILE" />
	</root>
</configuration>